.main-app {
  display: flex;
  gap: 1em;
  margin: 2em;
  align-items: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
}

.input-section {
  flex: 1;
  gap: 24px;
}

.display-section {
  flex: 2;
  min-height: 95dvh;
}

ul {
  list-style: none;
}

@media  screen and (max-width:1200px) {
  .main-app {
    flex-direction: column;
  }
}