.main-app {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
}

.input-section {
  flex: 1;
}

.display-section {
  align-items: center;
  flex: 2;
}

ul {
  list-style: none;
}