.display-section {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.display-section-main.personal-section {
  background-color: #10425e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
}

.display-section-main.personal-section ul {
  display: flex;
  gap: 1em;
}

.display-section-main.personal-section li {
  display: flex;
  gap: .3em;
}

.display-section-main.personal-section img {
  width: 25px;
  height: 25px;
}

.display-section-items {
  padding: 1em 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.display-section-details h2 {
  background-color: lightgray;
  color: #353e42;
  padding: .25em 1em;
}